[2015-06-18 14:19] dontcallmedom opened #1 "Needs updated dependency list"

[2015-06-18 14:19] dontcallmedom opened #2 "Do we want to work on PIM APIs again?"

[2015-06-18 14:19] dontcallmedom opened #3 "Needs updated milestones"

[2015-06-18 14:20] dontcallmedom opened #4 "Any new sensor API?"
We had early draft of Ambient Temperature Events, Ambient Humidity Events, Atmospheric Pressure Events — assuming progress on the sensor API pattern, do we want to add this to our charter?

[2015-06-18 14:21] dontcallmedom opened #5 "Extensible charter?"
Should we phrase our charter so that any API that matches our scope can be added without rechartering? If so, what's the right wording?

[2015-06-18 14:22] dontcallmedom opened #6 "is Web Bluetooth something DAP can/should adopt?"
The [Web Bluetooth CG](https://www.w3.org/community/web-bluetooth/) is doing good work on their Bluetooth API; should we approach them to see if they're interested in standardization in DAP?

[2015-06-18 14:25] dontcallmedom opened #7 "Do we need to to say explicitly we will maintain the Vibration API?"
for errata management, etc

[2015-06-18 14:33] dontcallmedom opened #8 "Any reason to keep app launcher / Web intent?"

[2015-06-18 14:35] dontcallmedom opened #9 "Trim list of deliverables"
In addition to #2 and #8, we need to consider whether to keep (and thus restart work on):
- [ ] Messaging API
- [ ] Network Information API
- [ ] Gallery API
- [ ] NSD

[2015-06-18 14:40] dontcallmedom opened #10 "Add links to existing drafts"

[2015-06-24 21:33] carybran commented on #6
I think this is a good idea - the WG is currently focused on Bluetooth Smart (Low Energy) and not classic

[2015-06-30 05:18] wayneca commented on #5
From the W3C Patent Policy: "As a condition of participating in a Working Group, each participant (W3C Members, W3C Team members, invited experts, and members of the public) shall agree to make available under W3C RF licensing requirements any Essential Claims related to the work of that particular Working Group."  Unlike Community Groups, it's licensing the whole spec, not just one's own contribu

[2015-06-30 21:47] dontcallmedom commented on #5
@wcarr I understand we should avoid a completely open-ended charter, but I'll also note that some WGs have adopted much more open charters (e.g. the CSS WG)

One possible option I was wondering was whether we could explore and experiment with a lightweight process for adding specs to the list of in-scope deliverables; I had drafted a rough proposal which would use a shortened and focused set of re

[2015-07-01 22:09] wayneca commented on #5
I considered objecting to the CSS charter, but CSS just isn't scary.  It's pretty clear what it's about.  Random APIs can be scarier for people worried about having to license patents without knowing what types of things they could be about.

We could already have a lightweight process with the existing rules, if the AC and Director both agreed to just look at the impact of the specific changes in

[2015-07-02 04:10] wayneca opened #11 "Add usual asynchronous decision making paragraph to decisions"
W3C is a world wide organization and any telecon is going to be at night for someone and travel can be very expensive.  WG Charters have been adopting text like the following to allow everyone worldwide to participate in decisions (the wording below is taken from the Performance WG, WebApps, Second Screen, Auto and others also use it).  This doesn't slow anything down.  The decision is made, chang

[2015-07-07 15:18] dontcallmedom commented on #5
Restricting the Director/AC review of changes to those specifically in the deliverables list was roughly my idea of the lightweight process; I think we could enforce such a restriction by documenting it in the charter.

[2015-07-08 13:38] anssiko commented on #4
Depending on whether there will be an agreement (https://lists.w3.org/Archives/Public/public-device-apis/2015Jul/0002.html) on migrating the Device Orientation into this group, we should naturally add that one since it is likely one of the most widely supported sensors out there.

The other sensors that are now considered exploratory work did not advance in the past due to the fact such sensors we

[2015-07-08 15:21] wayneca commented on #5
The Charter can say something like: "If additional deliverables need to be added to the Charter before the Charter expires, the WG will prepare an updated Charter that differs only in deliverables.  In the interest of agile spec development, the WG requests that the Advisory Committee and Director restrict approval reviews for those Charter deliverables adjustments to  just the changes in the Char

[2015-07-08 15:45] wayneca commented on #4
In order to provide time to discuss a possible transfer after the charter was approved, charter could add to the sensor section:

[[
Acceleration API, Orientation API, Compass Bearing API

APIs providing device orientation, acceleration and compass bearing.  The DAP WG may adopt the Device Orientation API from the Geolocation WG at the request of that group, or could work on new APIs for accelerat

[2015-07-08 15:52] dontcallmedom commented on #4
@anssiko sources of data includes the [sensor APIs that Android ships with](http://developer.android.com/guide/topics/sensors/sensors_overview.html), including thermometer, barometer (which was added to the iPhone 6 from what I can see), magnetometer, humidity.

Another way to look at this is to look at the [list of cordova plugins](http://plugins.cordova.io/#/viewAll) and their download rates; I

[2015-09-03 14:17] dontcallmedom commented on #4
There has been agreement on the 2015-09-03 call to add a new generic-sensor-based device orientation API should be added to our future charter.

[2015-09-03 15:26] fhirsch opened #15 "links to previous charters are broken - 404"

[2015-10-13 08:25] #15 closed, assigned to nobody

[2015-10-13 08:57] #2 closed, assigned to nobody

[2015-10-13 08:57] #7 closed, assigned to nobody

[2015-10-13 08:57] #10 closed, assigned to nobody

[2015-10-13 08:57] #8 closed, assigned to nobody

[2015-10-13 08:57] dontcallmedom commented on #9
Trimmed to just net info for now

[2015-10-13 08:57] #9 closed, assigned to nobody

[2015-10-13 08:58] dontcallmedom commented on #6
The Web Bluetooth CG indicated they'd rather do it in the Web Platforms WG, so closing this issue.

[2015-10-13 08:58] #6 closed, assigned to nobody

[2015-10-13 08:58] #5 closed, assigned to nobody

[2015-10-13 09:02] #11 closed, assigned to nobody

[2015-10-13 09:31] dontcallmedom commented on #1
Seems good enough as of 35506e4

[2015-10-13 09:31] #1 closed, assigned to nobody

[2015-10-13 10:02] #3 closed, assigned to nobody

[2015-10-15 20:43] mwichmann opened #18 "joint working clause may be in wrong section"
The line:

_The Working Group may also enter into joint Task Forces with other groups to collaborate on specifications that cross group boundaries._

appears awkwardly placed in the **Maintenance** sub-section of **3.1 Recommendation-Track Deliverables**. I realize this is a nit-picky production issue and the paragraph probably is not meant to be "in" the subsection (h4 element) but there is no di

[2015-10-15 20:48] mwichmann opened #19 "grammar in Media Capture section"
The **Media Capture** subsection of **3.1 Recommendation-Track Deliverables" ends with the sentence:

_Some of these deliverables might, upon the request of the Working Group, may be moved to the proposed Timed Media Working Group._

Notice the "might, ..., may be".  Suggest dropping the word "may".

[2015-10-16 16:53] mwichmann opened #20 "unclear requirement for implementations"
The following line comes out a bit unclear:

_To advance to Proposed Recommendation, each specification is expected to have two independent implementations of all features defined in the specification, including implementation on a constrained device (e.g. mobile phone, TV)._

Is this to be interpreted as two implementations, which must include a constrianed-device implementation? or two implement

[2015-11-02 15:44] dontcallmedom commented on #19
#23 addresses this.

[2015-11-02 15:49] dontcallmedom commented on #20
I think the intent was the first, i.e. "two implementations, one of which on a constrained device"; and I don't think we ever tried to answer your last question. Also, I'm not sure calling a mobile phone a constrained device still matches the reality.

I guess I think the best approach would be to remove the "constrained device" requirement; I don't think it has mattered much in practice. Will pro

[2015-11-16 13:20] #18 closed, assigned to nobody

[2017-06-19 12:03] #20 closed, assigned to nobody

[2017-06-19 12:03] #19 closed, assigned to nobody

[2017-06-19 12:16] dontcallmedom opened #27 "Stop joint work on media capture task force"
During our last recharter, there was push back against keeping the Media Capture Task Force due to the perceived overhead.

Should this set up be kept in the next charter?

[2017-06-19 12:17] dontcallmedom opened #28 "Integrate Web Bluetooth?"
There has been discussions during TPAC 2016 to bring the Web Bluetooth work to the formal standardization track as part of the DAS Working Group.

[2017-06-19 12:17] dontcallmedom opened #29 "Integrate WebNFC"
similar to #28

[2017-06-19 12:17] dontcallmedom opened #30 "Integrate WebUSB"
Similar to #28

[2017-06-19 12:19] dontcallmedom opened #31 "Restart work on DeviceOrientation Event API"
The Geolocation Working Group's charter expired before they were able to complete the standardization work on [the DeviceOrientation Event](https://www.w3.org/TR/orientation-event/) spec.

Should this group take it over and finish it, given its work on the Generic Sensor API?

[2017-06-19 12:21] dontcallmedom opened #32 "Generic-sensor based geolocation API?"
Should the group's scope include a revisited Geolocation API based on the Generic Sensor Framework? Should there be some incubated proposal before considering it?

[2017-06-19 13:14] kenchris opened #33 "Environmental sensors"
Environmental sensors are not common on laptops and phones, but could become pretty common in IoT and thus accessible via Web Bluetooth and the like.

The sensors themselves are probably quite easy to standardize as they expose data quite simple (no complex matrices, quaternions etc), but if we standardize these we will probably end up with things exposed the same way, and there is interest at lea

[2017-06-23 12:26] dontcallmedom commented on #33
my hunch is that since there are quite a few hypotheses between having these APIs and having them implemented in browsers, my impression is that this would better started in a CG (e.g. [WICG](https://www.w3.org/community/wicg/) or a dedicated one) rather than directly in DAS.

[2017-08-21 07:27] dontcallmedom commented on #28
feedback from CG is that until there are implementation intents beyond Chromium, standardization would be premature

[2017-09-14 12:53] anssiko commented on #32
Here's the Geolocation Sensor proposal:

https://wicg.github.io/geolocation-sensor/

@dontcallmedom, even if we were to incubate this spec in WICG, I'd prefer to have the spec live under the `w3c` GH org rather than `wicg` to not need to move the issues around after assumed transition to the DAS WG by the end of the year. Would that be fine? Last time I checked moving issues with all their associa

[2017-09-14 12:53] anssiko commented on #31
I'd support DAS WG taking over the maintenance of the DeviceOrientation Event spec. Areas that could be improved in the spec include e.g. security and privacy considerations. Much of the learnings from the Generic Sensor API could be applied to this spec to fix ambiguities and make it better match the deployed implementations.

[2017-09-15 04:07] xfq commented on #32
@anssiko

Is https://help.github.com/articles/about-repository-transfers/ enough? Or maybe we can find out how specs like IntersectionObserver were moved.

[2017-09-15 05:45] anssiko commented on #32
@xfq, thanks! It seems GitHub has improved its repo transfer process. Given this, I'd be fine hosting this repo under wicg during incubation.

[2017-09-18 11:08] anssiko commented on #32
I just proposed the Geolocation Sensor to WICG:

https://discourse.wicg.io/t/proposal-geolocation-sensor-based-on-the-generic-sensor-api/2355

[2017-09-19 01:26] samuelweiler opened #34 "Add milestone table"
Import milestones from the [2016 charter](https://www.w3.org/2016/03/device-sensors-wg-charter.html), to show where deliverables are along the path

[2017-09-20 10:13] dontcallmedom opened #35 "Adapt normative deliverable list to process 2017 requirements"
See https://w3c.github.io/charter-drafts/charter-template.html#normative

[2017-09-20 11:55] dontcallmedom commented on #35
@xfq could you take a stab at this? as linked from above, for each normative deliverable, we need to identify the draft from which we would start, the latest reference draft in the patent policy sense, and a link to our current charter as the source of the deliverable.

I can provide more guidance as needed - let me know

[2017-09-20 14:09] #31 closed, assigned to nobody

[2017-09-20 14:10] #32 closed, assigned to nobody

[2017-09-21 16:09] #27 closed, assigned to nobody

[2017-09-28 15:53] anssiko opened #40 "Network Information API"
@dontcallmedom, do we need to clarify the relationship of https://www.w3.org/TR/netinfo-api/ currently linked to from the charter with https://wicg.github.io/netinfo/ actively being incubated in WICG?

[2017-09-28 16:04] anssiko opened #41 ""Device and Sensors" or "Devices and Sensors""
Perhaps bikeshedding, but I've noticed many people use the plural forms of "Devices".

Rename?

[2017-09-29 06:54] dontcallmedom commented on #40
here are the options I see:
* we add a link from the description in the charter to the WICG incubated version (leaving open the option to bring it to DAS if and when it is deemed ready)
* we remove Net Info from our charter
* we find out from the ongoing incubation of netinfo in WICG whether they see value in standardizing a subset of what they have (and whether that's DAS business or WebPerf, or

[2017-09-29 06:55] dontcallmedom commented on #41
makes sense

[2017-09-29 09:06] #41 closed, assigned to nobody

[2017-09-29 09:23] #40 closed, assigned to nobody

[2017-09-29 12:30] anssiko opened #45 "Define new end date"
Need to update the end date. The [W3C Process] document suggests:

[W3C Process]: https://www.w3.org/2017/Process-20170301/#WGCharter

[2017-10-04 10:20] anssiko opened #48 "Adopt "test as you commit" policy"
Recently, there has been movement toward requiring a test change whenever a normative
spec change is landed.

For example, the [SVG WG Charter] has the following text:

I would suggest the DAS WG will consider adopting similar policy for its revised Charter.

[SVG WG Charter]: https://www.w3.org/2017/04/svg-2017.html#deliverables

[test as you commit]: https://github.com/w3c/testing-how-to/#test-a

[2017-10-04 13:01] dontcallmedom commented on #48
I don't know if I would necessarily codify it, but I would even suggest starting well before CR to apply that policy

[2017-10-04 13:21] anssiko commented on #48
Perhaps we could make this policy "must" for CR and above and "should" at earlier maturity levels. (Not sure if we can use RFC 2119 terms in the Charter -- just to make a point.)

I feel this policy would be very helpful at earlier spec maturity levels too especially if there are implementation(s).

If there's just a spec draft that is undergoing rapid iteration without an implementation the polic

[2017-10-04 13:23] dontcallmedom commented on #48
maybe the existence of an implementation ought to be the trigger of making simultaneous test contributions expected?

[2017-10-11 13:30] #35 closed, assigned to xfq

[2017-10-17 08:01] anssiko commented on #28
For the record, a public support statement from the Bluetooth Special Interest Group (SIG) Developer Relations:

https://lists.w3.org/Archives/Public/public-web-bluetooth/2017Oct/0000.html

[2017-10-17 08:48] anssiko commented on #28
@dontcallmedom, I will reopen this issue as a reminder to revisit at TPAC. Could be discussed e.g. in https://www.w3.org/wiki/TPAC/2017/SessionIdeas#Device_APIs_session

[2017-10-17 11:51] koalie commented on #28
FYI https://twitter.com/w3c/status/920255864526778368

[2017-10-18 09:24] foolip commented on #48
FWIW, I would leave CR out of the equation unless you think the distinction is really useful. As I understand from @plehegar, it was used for CSS and SVG as a bit of a compromise, and if the group wants to treat all specs the same, they can.

On must vs. should, we've just gone with "highly appreciated" in most places, which I think is a should. I can't really see that must would ever really be ap

[2017-10-18 11:11] anssiko commented on #48
@foolip, I personally like the "highly appreciated" wording. Is there some text we could borrow for charter purposes? Otherwise I'll propose something along those lines.

I'm happy to discuss this topic at TPAC too. Note DAS WG does not formally meet at TPAC. Some of us will still be around, so perhaps we could discuss and socialize the idea of "test as you commit" in https://www.w3.org/wiki/TPAC/

[2017-10-18 11:21] foolip commented on #48
SVG is the only case I'm aware of where anything's been put into the charter, and it sais "The SVG WG will follow a test as you commit approach to specification development, for specifications in CR or above."

If you're about to recharter I guess that could make sense, otherwise maybe just update all of the repos, or create a group-wide CONTRIBUTING.md that all of the others point to?

If the gro

[2017-10-18 11:58] anssiko commented on #48
Proposed text to the new DAS Charter: https://github.com/w3c/dap-charter/pull/51

Text borrowed from the [SVG WG Charter][1].

[1]: https://www.w3.org/2017/04/svg-2017.html#deliverables

[2017-10-18 13:28] #48 closed, assigned to nobody

[2017-10-18 15:11] foolip commented on #48
Yay, thanks @anssiko!

I see the CR condition is in https://github.com/w3c/dap-charter/pull/51, what does that mean in practice? Should CONTRIBUTING.md of all individual specs still be updated?

[2017-10-19 12:54] anssiko commented on #48
@foolip, given this Charter is not yet in production, I suggest we test drive with the Generic Sensor API https://github.com/w3c/sensors/blob/master/CONTRIBUTING.md#tests and will get the policy adopted for all the group's deliverables automatically when the new Charter is in effect 1 February 2018 or so.

That said, nothing is preventing us from using the new policy already now for other specific

[2017-11-15 10:58] anssiko commented on #28
Feedback from Device APIs breakout at TPAC seemed to suggest this API should not yet advance to the standards track, see: https://www.w3.org/2017/11/08-device-api-minutes.html

If you feel otherwise, please let us know in this issue.

[2017-11-18 05:57] xfq commented on #34
The milestones table has been removed from the charter template, because it's often inaccurate.

See https://w3c.github.io/charter-drafts/charter-template.html#deliverables for more information.

[2017-11-20 12:05] anssiko commented on #33
I think we have a resolution that everyone is happy with, closing this issue.

[2017-11-20 12:05] #33 closed, assigned to nobody

[2017-11-20 12:05] #34 closed, assigned to nobody

[2017-11-20 12:09] anssiko commented on #30
It seems wider implementation feedback would be preferred to advance this specification to standards track at this time.

[2017-11-20 12:09] #30 closed, assigned to nobody

[2017-11-20 12:09] anssiko commented on #29
It seems wider implementation feedback would be preferred to advance this specification to standards track at this time.

[2017-11-20 12:10] anssiko commented on #28
It seems wider implementation feedback would be preferred to advance this specification to standards track at this time.

[2017-11-20 12:10] #28 closed, assigned to nobody

[2017-11-22 12:00] anssiko commented on #45
Addressed by #54

[2017-11-22 12:00] #45 closed, assigned to nobody

[2017-11-28 09:13] anssiko opened #57 "Adopt Web Share API?"
It seems the [Web Share API][1] is ready to graduate from WICG to the Standards Track, see https://github.com/WICG/web-share/pull/54#issuecomment-347432513

I suggest we consider adopting the spec under the [new Devices and Sensors WG's Charter][2] (earlier Device APIs WG). Some observations:
- Timing would be quite good, since we're expecting the new charter to be in production ~March-April 2018.

[2017-11-28 09:20] xfq commented on #57
What's the status of Web Share Target API? Is it also ready to graduate from WICG?

[2017-11-29 03:07] mgiuca commented on #57
@xfq I would say no for Web Share Target. We haven't had a TAG review yet (I'm working on a few changes first) and we've just started experimenting in Chrome.

Thanks for recommending this @anssiko. I don't have an opinion about which WG is suitable so I will leave others to comment.

[2017-12-18 10:26] anssiko commented on #57
The plan is to get Web Share API adopted by the WPWG, see https://github.com/w3c/dap-charter/pull/58#issuecomment-352348490

[2017-12-18 10:26] #57 closed, assigned to nobody

[2018-05-02 08:39] xfq opened #69 "Add the remaining deliverables to the timeline?"
In the AC review, @lvdbrink pointed out that not all the deliverables in 3.1 are present in the timeline
in 3.4. @anssiko, can we add the timeline for the remaining specs?

[2018-05-19 05:04] xfq opened #70 "Mention a11y?"
In §2.1 Success Criteria:

In the AC review, @LJWatson and @Ryladog mentioned that accessibility could be included, along with privacy and security.

[2018-05-19 05:05] xfq commented on #70
Note that we already mention accessibility in §4.1 currently:

[2018-05-19 12:10] LJWatson commented on #70
Thanks for raising this @XFQ.

There is a difference between the horizontal review, and including a section in a spec that contains accessibility information for implementors, authors, and consumers.:
* The horizontal review will help make sure that what is in the spec is accessible, and does not cause any accessibility issues (in the same way that the horizontal reviews for privacy and security w

[2018-06-08 15:37] samuelweiler commented on #69
Fixed with:
https://github.com/w3c/dap-charter/commit/e1c4cbae35efbb954d0773d81b88742846131980#diff-052d0ffe1d4875c46aad73296a566b78

(Not yet merged into main branch)

[2018-06-08 15:40] samuelweiler commented on #70
This requirement was already present, but it was two paragraphs later:

https://github.com/w3c/dap-charter/pull/71  reorders section 2.1 to make this more obvious

[2018-06-08 15:54] #69 closed, assigned to nobody

[2018-06-08 15:54] #70 closed, assigned to nobody

[2019-01-23 04:09] xfq opened #76 "Maintain the Geolocation API Specification"
The spec still needs some maintenance work, such as restrictions in non-secure contexts.

Should this group take it, given its work on the Geolocation Sensor?

[2019-01-23 12:24] anssiko commented on #76
@xfq, thanks, I hope we are able to add Geolocation API spec maintenance in scope without going through the costly rechartering process given the Geolocation API technical scope is already captured in that of the Geolocation Sensor.

If we can take this light-weight route, how to kick off the process for doing so, amend the charter text etc.? Thanks for your help.

[2019-01-25 21:12] wseltzer commented on #76
@anssiko where is Geolocation Sensor?

The issue is that the current charter is explicitly scoped-down by the language of [3.2](https://www.w3.org/2016/03/device-sensors-wg-charter.html#scope) "If additional in-scope Recommendation-track deliverables need to be added to the Charter before the Charter expires, the Working Group will prepare an updated Charter that differs only in deliverables. In t

[2019-01-25 21:18] anssiko commented on #76
@wseltzer https://w3c.github.io/geolocation-sensor/

[2019-01-25 21:21] anssiko commented on #76
Also, the proposed plan sounds good to me. Does staff take an appropriate action?

Also loop in DAS WG co-chair @reillyeon.

[2019-01-25 21:22] wseltzer commented on #76
Ah thanks, I was looking at the wrong version of the charter, current charter is
https://www.w3.org/2018/06/devices-sensors-wg-charter.html

Yes, I'll start the W3M review.

[2019-01-28 11:02] anssiko commented on #76
@wseltzer, thanks for the swift response and taking an action. I assume this issue is notified when there's a resolution.

[2019-02-04 21:48] plehegar commented on #76
Addressed by #77

[2019-02-12 15:13] #76 closed, assigned to nobody

[2020-03-03 07:35] anssiko opened #78 "Network Information status?"
The DAS WG charter states:

Need to figure out whether this requirement is satisfied or not.

High-level implementation status suggests there's probably adequate implementation experience:
https://caniuse.com/#feat=netinfo
https://developer.mozilla.org/en-US/docs/Web/API/Network_Information_API

Loop in @marcoscaceres for WICG input.

[2020-03-03 07:41] anssiko opened #79 "Split Wake Lock API spec into two?"
Depending on the [CfC: split Wake Lock API spec into two, review by 6 Mar 2020](https://lists.w3.org/Archives/Public/public-device-apis/2020Feb/0011.html) outcome, consider splitting Wake Lock API into two deliverables or otherwise make this distinction clear in order to encourage further implementation experience.

[2020-03-03 08:11] anssiko commented on #29
Now that we're preparing the DAS WG 2020-22 charter, we should revisit where we stand in terms of Web NFC implementation feedback in the year 2020.

Currently Chrome Origin Trial is in progress, which should provide us developer feedback:
https://developers.chrome.com/origintrials/#/view_trial/236438980436951041

In addition to the spec https://w3c.github.io/web-nfc/, there's also an informative a

[2020-03-09 02:10] marcoscaceres commented on #78
I think we should reconsider what is feasible in adopting the netinfo API. The API is overly ambitious in that goes beyond the original [use cases and requirements](https://www.w3.org/TR/netinfo-usecases/), and I think that's a problem for adoption because of all the privacy concerns: it adds a large fingerprinting area.

The primary use cases are well understood (again, see the use cases and requ

[2020-03-09 10:21] anssiko commented on #79
The CfC passed with no concerns.

[2020-03-09 12:40] anssiko commented on #4
Blast from the past.

We should reassess whether there are new sensor types (see [current types](https://www.w3.org/das/roadmap)) that are widely available in mainstream devices and have good use cases for the web that'd warrant starting standardization.

Just to give an example, the new class of dual-screen devices have a hinge in between and there's a sensor monitoring the angle of that hinge.

[2020-03-09 12:41] anssiko opened #80 "Web HID"
WebHID API
https://wicg.github.io/webhid/

Community interest and spec maturity to be evaluated.

[2020-03-09 13:17] anssiko commented on #29
Feedback from STMicroelectronics: https://lists.w3.org/Archives/Public/public-web-nfc/2020Mar/0000.html

[2020-03-13 14:39] anssiko commented on #78
(Connecting the dots: Web & Networks Interest Group is soliciting feedback on this API from its participants: https://lists.w3.org/Archives/Public/public-networks-ig/2020Mar/0002.html)

[2020-03-24 05:13] svgeesus opened #82 "Success criteria - already released APIs"
APIs that have already released but are then demonstrated to not be implementable securely - should they be rescinded or moved back to Working Draft?

[2020-03-24 17:56] anssiko commented on #82
I think that needs to be evaluated on a per spec basis in consultation with implementers should such an event occur.

W3C Process does prescribe the considerations for rescinding vs return to WD, which seems adequate.

[2020-03-25 01:34] #79 closed, assigned to nobody

[2020-03-25 18:10] anssiko commented on #4
An idea on how the fold angle could be exposed via the Generic Sensor API:

https://github.com/SamsungInternet/Explainers/blob/master/Foldables/FoldState.md#angle-sensor-based-on-genericsensor-api

The authors @diekus and @kenchris seem to think the CSS media queries is the primary conduit, and the API could possibly be complementary surface. If so, we might consider inclusion into the DAS WG espe

[2020-03-26 05:50] anssiko opened #83 "Goals and Scope editorial"
Need editorial revision. Some text inherited from the past charters that had a broader scope.

[2020-03-26 06:44] reillyeon commented on #83
The scope of device types seems broader than necessary,

We could simplify this to "desktop and mobile computing devices" or similar.

[2020-03-26 08:53] tomayac commented on #4
For some background, the [hinge angle sensor](https://developer.android.com/reference/android/hardware/SensorEvent#sensor.type_hinge_angle-:) as described in the Android documentation.

[2020-03-26 13:29] ellisonak commented on #83
I am glad someone is looking into this. My device is attached to this network without my consent. I am unable to view anything “live” my entire device is streamed. I have to follow Instagram just to see any post. This has been going on for years, no one has been able to help me discover what is going on. I am also unable to use WiFi anywhere. My webpages are pdf versions that someone has altered.

[2020-03-26 18:13] svgeesus commented on #82
Sounds good, thanks!

[2020-03-26 18:13] #82 closed, assigned to nobody

[2020-03-27 17:47] reillyeon commented on #78
Given the objections above I think we should let this specification continue incubating until cross-vendor concerns are resolved. When it comes time for migration I believe the WebPerf WG may have more experience with the use cases being resolved than the DAS WG.

[2020-04-01 01:06] xfq commented on #83
Fixed in #84.

[2020-04-01 01:06] #83 closed, assigned to nobody

[2020-04-01 08:28] anssiko commented on #78
We concluded in #84 to make no changes to this API vis-à-vis the current charter, i.e. keep the provision we work together with WICG to determine whether this API should progress on to the standards track.

[2020-04-01 08:28] #78 closed, assigned to nobody

[2020-04-01 09:01] anssiko commented on #4
@tomayac:

Fold Angle Sensor is added to the [draft charter proposal](https://w3c.github.io/dap-charter/DASCharter-2020.html).

Here's how I unpack this, clarifications welcome:

Using GPS the method to measure altitude is called [trilateration](https://en.wikipedia.org/wiki/True_range_multilateration). This method has restrictions as outlined in the article. To get more precise altitude readings,

[2020-04-01 09:03] anssiko commented on #29
No strong reactions for or against, we're leaning toward keeping the Web NFC in its own incubator.

[2020-04-01 09:04] anssiko commented on #80
Suggestion is to allow WebHID API to be incubated further.

[2020-04-01 09:44] tomayac commented on #4
One use case I could come up with is a hiker or climber who wants to know the altitude difference that they climbed.

[2020-04-01 09:54] anssiko commented on #4
Are we aware of native apps like that? That would be one signal that'd help make a case this feature would be in demand and has real-world use cases.

[2020-04-01 10:41] tomayac commented on #4
There are many altimeter kind of apps in the [Play Store](https://play.google.com/store/search?q=altitude&c=apps) and the [App Store](https://apps.apple.com/us/app/travel-altimeter-elevation/id486556174#see-all/customers-also-bought-apps).

[2020-04-07 04:05] xfq commented on #29
Closing.

[2020-04-07 04:05] #29 closed, assigned to nobody

[2020-04-09 07:26] anssiko commented on #4
[Proposal](https://lists.w3.org/Archives/Public/public-device-apis/2020Apr/0003.html):

[2020-04-09 07:26] #4 closed, assigned to nobody

[2020-04-13 15:26] samuelweiler opened #87 "consensual?"
What do you mean by the work "consensual" is this context?

Is there a better way to say what you're intending?

[2020-04-13 15:33] samuelweiler opened #88 "move test-as-you-commit text?"
The test as you commit text in section 2 seems partially redundant with the success criteria text is section 4.  Maybe move it to section 4?  (e.g. test-as-you-commit at CR; two implementations for PR)

I like the use of the blockquote rather than just repeating boilerplate - that's clever.  Please explain the origin of the blockquote in text - not just in the text of the URL.  Say it's W3C publis

[2020-04-13 16:49] samuelweiler opened #89 "missing "will"?"
Do you mean:

[2020-04-14 11:22] #80 closed, assigned to nobody

[2020-04-15 01:05] #87 closed, assigned to nobody

[2020-04-15 01:09] samuelweiler commented on #89
That change didn't fix the issue I identified.

[2020-04-15 01:11] samuelweiler commented on #88
It looks like the text was moved but the origin wasn't explained for a working link added.

[2020-04-15 01:55] samuelweiler commented on #88
Looking further, the text was moved into "coordination", which makes no sense to me.  I was suggesting it be merged into the success criteria text which is section 3.  Not sure if the section numbering changed or I made a mistake above.

[2020-04-16 02:59] #89 closed, assigned to nobody

[2020-04-16 04:40] xfq commented on #89
Should be fixed in https://github.com/w3c/dap-charter/pull/91 now.

[2020-04-16 04:40] xfq commented on #89
Thank you!

[2020-04-16 04:46] xfq commented on #88
There is already a link to the page (i.e., the "test as you commit" text), and I'm not sure how to make the `cite` attribute of `blockquote` a link.

[2020-04-20 02:25] xfq opened #93 "Mention Web of Things WG in Coordination"
The scope of DAS WG is to develop browser APIs, and WoT people are also getting interested in Web browsers (including embedded browsers and usual Web browsers to provide user interface for IoT services). Since the [updated WoT WG charter](https://www.w3.org/2020/01/wot-wg-charter.html#w3c-coordination) also includes DAS WG within the Coordination section, I suggest that we mention WoT in the Coord

[2020-04-20 03:13] xfq commented on #88
@samuelweiler Would you please confirm whether https://github.com/w3c/dap-charter/pull/92 is good enough?

[2020-04-20 09:57] anssiko commented on #93
My preference would be to limit liaisons stated in the charter to groups we have, or will have, an active interaction with, either through normative dependency, or other similar strong connection such as shared commitment to privacy-focused web features and APIs. Maintaining liaisons requires effort, and I'd prefer not to overcommit the group. If we can identify a champion who volunteers to act as

[2020-04-22 12:51] anssiko commented on #93
Discussed with @zolkis from WoT WG who has been looking at the Generic Sensor API in the context of the WoT and we concluded an informal liaison (that has been ongoing for the last 4 years thanks to shared participants) is adequate, and no charter edits needed to formalize this relationship at this time.

[2020-04-23 12:08] plehegar commented on #93
unless there is a strong reason not to list the WoT WG, which would worry me, I suggest listing the liaison. If it doesn't get used, no harm done.

[2020-04-23 13:07] anssiko commented on #93
It's all about focus as explained earlier.

I also worry a little we'd discriminate other groups not listed with whom DAS WG has similar liaison relationship i.e. no normative dependency, but some shared interest.

[2020-04-23 13:28] plehegar commented on #93
Having a liaison doesn't mean that you need to loose the focus. At the minimum, the Director will ask if you got reviews from the WoT WG at your transition time, and will not block if the WoT WG declined to give such review. It doesn't change the scope of the DAS WG and doesn't force the Group to take on new use cases. The effort added is minimal.

[2020-04-23 14:34] anssiko commented on #93
I infer W3M wants to see this liaison in the charter. I trust your judgment. PRs welcome.

[2020-04-23 14:36] plehegar commented on #93
Having a liaison doesn't mean that you need to loose the focus. At the minimum, the Director will ask if you got reviews from the WoT WG at your transition time, and will not block if the WoT WG declined to give such review. It doesn't change the scope of the DAS WG and doesn't force the Group to take on new use cases. The effort added is minimal (and the upcoming tooling, it will be as cheap as w

[2020-04-24 01:55] xfq commented on #88
Hearing no reply, I have just merged the PR.

[2020-04-24 02:02] #88 closed, assigned to nobody

[2020-04-25 00:59] ashimura commented on #93
Thank you very much, @anssiko @xfq and @plehegar !

[2020-04-29 13:11] #93 closed, assigned to nobody

[2020-06-15 09:23] anssiko opened #97 "Contact Picker API"
Making a note here that https://wicg.github.io/contact-api/spec/ might advance to DAS WG in the future.

The group had [Contacts API](https://www.w3.org/TR/contacts-api/) in its charter 2009-2016, and the current Contact Picker API proposal could be characterized as a web-friendly subset of that API.

@reillyeon @marcoscaceres

[2020-07-07 06:40] tantek opened #98 "DASWG: Drop Battery API for privacy and lack of implementer support"
Per [DAS charter feedback](https://lists.w3.org/Archives/Public/public-new-work/2020Jun/0012.html): On the the grounds of privacy, and given a lack of implementer support, we would like the Devices and Sensors Working Group to cease work on the Battery API and see it published as a Working Group Note instead.

cc: [@dwsinger](https://github.com/dwsinger) [@pes10k](https://github.com/pes10k) [@marc

[2020-07-07 06:41] tantek opened #99 "DASWG: Drop Proximity sensor API for privacy and lack of implementer support"
Per [DAS charter feedback](https://lists.w3.org/Archives/Public/public-new-work/2020Jun/0012.html): On the the grounds of privacy, and given a lack of implementer support, we would like the Devices and Sensors Working Group to cease work on the Proximity sensor API and see it published as a Working Group Note instead.

cc: [@dwsinger](https://github.com/dwsinger) [@pes10k](https://github.com/pes10

[2020-07-07 06:41] tantek opened #100 "DASWG: Drop Ambient light sensor API for privacy and lack of implementer support"
Per [DAS charter feedback](https://lists.w3.org/Archives/Public/public-new-work/2020Jun/0012.html): On the the grounds of privacy, and given a lack of implementer support, we would like the Devices and Sensors Working Group to cease work on the Ambient light sensor API and see it published as a Working Group Note instead.

cc: [@dwsinger](https://github.com/dwsinger) [@pes10k](https://github.com/p

[2020-07-07 06:42] tantek opened #101 "DASWG: Leave System WakeLock API in WICG until there is a second implementer"
Per [DAS charter feedback](https://lists.w3.org/Archives/Public/public-new-work/2020Jun/0012.html): We believe it would be prudent for the System WakeLock API to go through the WICG process until it gets implementation commitment from at least a second browser vendor.

Having said that, we would be comfortable with having WICG incubated specs being explicitly listed as charter as work items the wo

[2020-07-07 06:48] tantek opened #102 "DASWG: Leave Fold Angle in WICG for now and collaborate with CSS"
Per [DAS charter feedback](https://lists.w3.org/Archives/Public/public-new-work/2020Jun/0012.html): The Fold Angle specification should be incubated in the WICG before it becomes a working group deliverable. For Fold Angle, we'd also like to see closer collaboration and input from the CSS WG on the design.

Having said that, we would be comfortable with having WICG incubated specs being explicitly

[2020-07-07 06:49] tantek opened #103 "DASWG: Drop Geolocation Sensor in favor of existing APIs"
Per [DAS charter feedback](https://lists.w3.org/Archives/Public/public-new-work/2020Jun/0012.html): Where we already have an existing Web APIs, e.g., Geolocation Sensor, we would prefer the working group cease work on those items and instead focus on evolving the existing specifications.

As is [evident with the Geolocation API](https://lists.w3.org/Archives/Public/public-device-apis/2020Jun/0006.

[2020-07-07 06:49] tantek opened #104 "DASWG: Drop Orientation Sensor in favor of existing APIs"
Per [DAS charter feedback](https://lists.w3.org/Archives/Public/public-new-work/2020Jun/0012.html): Where we already have an existing Web APIs, e.g., Orientation Sensor, we would prefer the working group cease work on those items and instead focus on evolving the existing specifications.

cc: [@dwsinger](https://github.com/dwsinger) [@pes10k](https://github.com/pes10k) [@marcoscaceres](https://git

[2020-07-07 06:50] tantek opened #105 "DASWG: Drop Network Information API because it is harmful to the web"
Per [DAS charter feedback](https://lists.w3.org/Archives/Public/public-new-work/2020Jun/0012.html): Mozilla has significant concerns about the inclusion of the Network Information API in the charter (as a specification to potentially adopt from the WICG) — Mozilla's public position is that this API is "harmful" to the Web as the information that it provides is unreliable and, at the same time, ope

[2020-07-07 07:37] torgo commented on #102
I would like to make a case that this work should not be consigned to WICG. The work is at a [good stage of development](https://diek.us/fold-angle/) - beyond many other work items in WICG. It makes much more sense for it to be worked on in a full working group which has already accepted it into its charter. While it's definitely true that some of the work would need to happen in CSS, I think it m

[2020-07-07 09:50] diekus-zz commented on #102
I completely agree with @torgo. I personally do not see this API elsewhere and I am convinced DASWG is the group to go to. I also think collaboration between DASWG and CSSWG is how I envision this working due to the support we want to provide from CSS to this new feature.

[2020-07-07 09:56] anssiko commented on #102
I've discussed with @astearns (from Adobe, CSS WG co-chair) and he's happy with the proposed collaboration model between the DAS WG and CSS WG for this deliverable.

[2020-07-07 11:17] anssiko commented on #105
The group believes the following provision in the [proposed charter ](https://www.w3.org/2020/05/proposed-das-wg-charter.html#deliverables) alleviates the objector's concerns:

Please also note this text is unchanged from the [current charter](https://www.w3.org/2019/03/devices-sensors-wg-charter.html#deliverables).

The DAS WG is aware of the ongoing discussion in WICG to limit the scope of this

[2020-07-07 11:17] anssiko commented on #104
The Orientation Sensor specification differs from the "existing specifications" in the following ways:

- [x] defines new features [1] that address new use cases [2],
- [x] addresses significant interoperability issues e.g. around sensor fusion [3],
- [x] improves API ergonomics, makes the API consistent with other similar APIs and extensible [4], and
- [x] defines modern privacy and security prot

[2020-07-07 11:17] anssiko commented on #103
The Geolocation Sensor specification differs from the "existing specifications" in the following ways:

- [x] defines new features [1] that address new use cases [2] as opposed to the Geolocation API that is in maintenance and accepts no new features
- [x] addresses significant interoperability issues e.g. around accuracy and resolution [3],
- [x] improves API ergonomics, makes the API consistent

[2020-07-07 11:17] anssiko commented on #101
The System Wake Lock API has been worked on in the DAS WG as part of the Wake Lock API [since 2015](https://www.w3.org/TR/2015/WD-wake-lock-20150212/). It has never been a WICG deliverable, so the title of this issue is misleading ("Leave System WakeLock API in WICG").

The DAS WG recorded a consensus [1] to split the Wake Lock API into two separate DAS WG deliverables in Feb 2020:

That CfC passe

[2020-07-07 11:17] anssiko commented on #100
All privacy issues brought up to the group's attention have been documented [1] and reviewed with privacy experts [2] with additional mitigations specified [1] on top of the mitigations inherited from the Generic Sensor API [3]. These additional mitigations have been demonstrated [4] to be effective in a real-world scenario.

The latest version of the Ambient Light Sensor API has implementer suppo

[2020-07-07 11:17] anssiko commented on #99
All privacy issues brought up to the group's attention have been documented [1] and reviewed with privacy experts [2] with additional mitigations specified [1] on top of the mitigations inherited from the Generic Sensor API [3]. The implementation of these mitigations is work in progress alongside user studies to understand requirements of real-world use cases in terms of accuracy and sampling fre

[2020-07-07 11:17] anssiko commented on #98
All privacy issues brought up to the group's attention have been documented [1] and reviewed with privacy experts [2] with mitigations specified [1].

The latest version of the Battery Status API has wide implementer support [3].

The DAS WG is [commitment](https://www.w3.org/2020/05/proposed-das-wg-charter.html#scope) to **security and privacy focused** and **use case-driven** specification devel

[2020-07-07 16:54] pes10k commented on #98
This is a question that came up several times during the discussion of the PrivacyCG charter, on how to distinguish "Google developed something up stream and downstream chromium folks haven't [yet?] pulled it out" vs "the down stream chromium folks support and think its good for the web."  In other words, does "its in chromium" count as one implementor, or many?

https://github.com/privacycg/priva

[2020-07-07 17:04] pes10k commented on #98
Looks like there may just be a bug in caniuse's data, since it seems [removed in gecko](https://bugzilla.mozilla.org/show_bug.cgi?id=1313580) and Moz's [docs](https://developer.mozilla.org/en-US/docs/Web/API/Battery_Status_API#Browser_compatibility).

@anssiko is there a second, non blink implementation (or interest)?

[2020-07-07 17:08] anssiko commented on #98
Yes, for example QQ Browser.

[2020-07-07 17:12] pes10k commented on #98
@anssiko i am extremely not familiar with QQ browser, and couldn't easily find which engine it uses, but according to wikipedia at least, its also chromium, no?

[2020-07-07 17:32] anssiko commented on #98
QQ Browser is interesting in a sense it supports multiple engines in some of its versions.

see also UC Browser and KaiOS Browser that support the API.

[2020-07-07 17:36] pes10k commented on #98
according to wikipeida at least, UC browser is also blink.

KaiOS seems to use the Moz implementation that Moz no longer supports.  Thats an interesting "implementor interest" situation i haven't seen considered anywhere 🤔

[2020-07-07 17:56] anssiko commented on #98
Some versions of UC Browser in the wild are based on “U3” which is a WebKit fork.

All these browsers and their versions add up to global browser support in the ballpark of ~73% for this API per caniuse.com.

Notably, the API is used in ~11% of page loads in Chrome per [Chrome usage metrics](https://www.chromestatus.com/metrics/feature/timeline/popularity/2198).

DAS WG is a global community that

[2020-07-08 01:53] xfq commented on #102
Not directly related to this issue, but we could perhaps add CSSWG to the [Coordination](https://w3c.github.io/dap-charter/DASCharter-2020.html#coordination) section to for the work on some [media features](https://drafts.csswg.org/mediaqueries-5/).

[2020-07-09 01:54] marcoscaceres commented on #98
It seems pretty unlikely those we would count those as implementations for the purpose of progressing the specification along the recommendation track, right? At least, without subverting the W3C process. [3] clearly shows that this doesn't have "wide support" in the same way we would consider other platform features (implemented in Gecko and WebKit) - only really single engine support, so it's pr

[2020-07-09 01:59] marcoscaceres commented on #98
Ok, yes, it's used as part of a tracking script: YouTube Widget. That would explain the wide distribution and not actual real usage.

[2020-07-09 04:56] marcoscaceres commented on #98
I think we should do some digging via GitHub search to see if we can find some legitimate uses of the API... I did a quick search, and didn't find much, but we should dig deeper.

[2020-07-09 07:18] anssiko commented on #98
We’re not discussing a transition request in this issue.

On topic, for consideration:

- UC Browser and QQ Browser [are the 2nd and 3rd most popular browsers in China](https://gs.statcounter.com/browser-market-share/all/china) with 14.16% and 10.21% market share respectively.

- Both have versions based on WebKit.

I did a search in this repo, and found these comments interesting:
https://github.

[2020-07-17 09:40] marcoscaceres commented on #98
Sure, the above are interesting, but they need to be balanced out with the actual risk that this is being used to track users. And we should see if there is anyone actually using in the way that Mounir and Rick suggest, otherwise it's just speculative and hypothetical (which is not a great reason to make something a Rec).

As Rick suggests, we could start by clamping down the API by turning off by

[2020-07-17 10:04] marcoscaceres commented on #98
Ah, just saw that the Editor's draft has permissions policy, but /TR/ hasn't been updated (shakes first at /TR/ again).

[2020-07-20 14:08] xfq commented on #98
I just had a look at some common tracking/fingerprinting libraries, but didn't find any one that uses Battery Status API. (See https://github.com/fingerprintjs/fingerprintjs2/issues/55 for an issue in a popular fingerprinting library.)

-----

FWIW:

Electron can monitor power state changes, but uses a [different API](https://www.electronjs.org/docs/api/power-monitor).

Some (but not all) [MiniApp

[2020-07-21 01:38] marcoscaceres commented on #98
That issue was closed in 2016, so might warrant new investigation. Again, the fact that 11% of sites are reporting using this API rings alarm bells.

Like in this case, that doesn't equate to legitimate uses of the API (i.e., non-tracking ones, inline with the use cases). Exposing the API doesn't really mean much.

@pes10k, as someone who works with the Chromium community, could you check if anyon

[2020-07-22 09:16] annevk commented on #103
Why can we not maintain the Geolocation API instead? What makes this API substantially better that it's worth doubling the maintenance cost for web platform geolocation functionality? (I don't think the introduction really addresses that at all and it seems to largely defer to another document that only talks about things in a generic manner.)

[2020-07-22 09:22] marcoscaceres commented on #103
Agree, it seems like duplicated effort for little benefit. We can address the use cases by continuing to build on the existing Geo spec. If there are interop issues (https://github.com/w3c/geolocation-api/issues/49) we should sort those out. We seem to be doing a reasonable job at addressing the privacy and security issues in the existing spec and implementations.

[2020-07-23 07:57] annevk opened #106 "DASWG: Drop Generic Sensor API"
Although not explicitly mentioned https://lists.w3.org/Archives/Public/public-new-work/2020Jun/0012.html, Mozilla would like to request the work on the Generic Sensor API to stop as the privacy and security story is weak at best and there is only a single implementation.

We would be interested in pursuing the underlying use cases and finding alternative ways of addressing them in ways that do not

[2020-07-26 22:51] hober commented on #103
I agree with @annevk; it doesn't seem like the functionality duplication is warranted.

[2020-07-26 22:52] hober commented on #106
Is this sentence missing a "not" in it?

[2020-07-27 12:49] xfq commented on #98
It would be useful if we have concrete examples of this. Can I get a pointer to a website (or a few websites, preferably well-known ones) that uses the Battery Status API for tracking?

[2020-07-27 13:24] marcoscaceres commented on #98
The [Chrome usage stats](https://www.chromestatus.com/metrics/feature/timeline/popularity/2198) point to websites. All those websites embed YouTube videos, and those videos embed the script:
https://www.youtube.com/s/player/0bb3b162/player_ias.vflset/en_US/base.js

Search for getBattery() there. YouTube is a tracking widget.

Any website that embeds YouTube embeds a tracker. So basically pick any

[2020-07-31 00:44] pes10k commented on #98
(trying to summarize conversations that have happened across email and slack and other similar GH issues)

RE implementor threshold:

I take @cwilso's point that something not-yet-being-implemented shouldn't be a blocking concern to include something a WG's charter / scope .  But I think the concern here is different.  Its not that there isn't enough implementation; its more that there has been im

[2020-07-31 01:10] marcoscaceres commented on #98
It's not. It's completely valid. A single implementer spec is not a standard.

I disagree. And this one provable. @pes10k, stop avoiding my direct question: is Brave going to do the work to actually enable `SecureContext` and Permission Policy for Battery or not? It's a yes or no question. Intel and Google are not going to do it, so will you or Brave step up and actually do the work?

Additionally

[2020-07-31 01:17] pes10k commented on #98
Sure, but we're not discussing whether this should be a spec, this discussion is about whether a WG should take on work for something that might eventually become a spec.  I think we're agreeing on the broad point, but "there aren't currently enough implementations" is not *in and of itself* a reason to ask a WG to stop working on an item; it just means its not ready to move to rec.

Sorry, im not

[2020-07-31 02:12] marcoscaceres commented on #98
Really, then what's this?

![Screen Shot 2020-07-31 at 12 08 32 pm](https://user-images.githubusercontent.com/870154/88992362-8f9efa00-d326-11ea-9715-ea030c574e43.png)

Please understand why I'm getting really pissed off here: Brave is part of the Chromium project and you ship the API (I guess you didn't know that, surprise! 🎉 ), but you seem unwilling to go an actually fix stuff in the Chromium p

[2020-07-31 02:14] pes10k commented on #98
Those are the fake values we return to avoid breaking websites:

https://github.com/brave/brave-core/blob/2da676522390bb2134d490c468155ab86d6c6ec4/chromium_src/third_party/blink/renderer/modules/battery/battery_manager.cc

I don't know where this is coming from, but there has to be a better place for us to discuss than in this issue thread

[2020-07-31 05:18] marcoscaceres commented on #98
It relates directly to the discussion we are having here: It's hard to make a case that the spec should be killed when even well meaning implementers, like Brave, are unwilling to follow the spec with regard to SecureContext and Permissions Policy even when returning bogus values.

See what I mean?

[2020-07-31 17:45] reillyeon commented on #98
There is an active Intent to Ship thread for implementing the specified Permissions Policy (and perhaps SecureContext) integrations in Blink:

https://groups.google.com/a/chromium.org/forum/#!topic/blink-dev/sUs1KsQaXjA

[2020-08-03 03:47] marcoscaceres commented on #98
Oh, that's great to see @reillyeon. Thank you! Looks like Blink folks are coming to the same conclusions. If the mitigations get shipped, I'm still betting on usage going down to 0.00n% usage (and this becoming non-harmful). At the same time, I'm hopeful we can see some legit breakage, so to allow us to deal with those legitimate cases better (e.g., if YouTube is actually using it for some codec s

[2020-08-03 08:11] tomayac commented on #98
Most sites that want to use this API for good™ arguably just need to know if the battery level is below a certain limit (where commonly the OS's battery saver mode would kick in). Another way to convey this data could be to expose this info similar to how [`prefers-reduced-data`](https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-reduced-data) is exposed (or as a header similar to [`S

[2020-08-03 14:53] annevk commented on #106
Thanks, addressed.

[2020-08-04 02:44] marcoscaceres commented on #98
Those are good suggestions @tomayac. I'm still hopeful we can see actual cases where something like "prefers-reduced-energy" would help... like what would added/removed/changed. We talked about video above, so we would need to figure out if it could help there.... like, if `<video>`'s  element could be used with `<source media="(prefers-reduced-energy: yep)" src="video">`.

[2020-08-04 07:26] tomayac commented on #98
We do have an [example](https://github.com/GoogleChromeLabs/adaptive-loading/blob/585f9d28ae94d14e358f79ac4c6b3ab02f1f2bdc/cra-battery-considerate-loading/src/components/BatteryConsiderateMedia/index.js) of battery-considerate loading. Check out the [live demo](https://adaptive-loading.web.app/cra-battery-considerate-loading/).

[2020-08-18 02:28] xfq commented on #103
I wonder if this strategy is doable: focus on working on Geolocation Sensor, and polyfill on top of the Geolocation Sensor for Geolocation API, or produce a report if that's not possible.

Currently there's a [polyfill](https://github.com/kenchris/sensor-polyfills/blob/master/src/geolocation-sensor.js) for Geolocation Sensor on top of the existing Geolocation API, but this suggestion is the revers

[2020-08-18 05:49] annevk commented on #103
What is improved in terms of security and privacy?

Is there implementer support for the new use cases? (I'm not sure I understand how continuous background tracking is different from continuous foreground tracking. Geofencing seems clear, but also seems to warrant a different API shape.)

Also, in part what I object to is having different APIs. It's not clear to me that the current API is suffici

[2020-08-20 17:23] Joe-Palmer commented on #100
Please don't stop this work. It is a very important feature for us and the privacy issues have been addressed from our perspective.

[2020-08-21 16:45] lknik commented on #98
Sorry for dropping in, but in summary, are there any conclusions reached here? ;-)

[2020-08-24 21:18] reillyeon commented on #98
My feeling on this discussion is that there is evidence that there are legitimate reasons for sites to react to the amount of power available in a device and the amount of power they are consuming. There are a number of proposals in this area, of which the current Battery Status API is one. There is also general agreement that the current design of that API is not the one we want to have in the pl

[2020-08-27 17:39] samuelweiler commented on #100
@Joe-Palmer  Would you say more about why it's important for you (and your users)?  What does it enable that cannot be done in other ways?

[2020-08-27 17:41] samuelweiler commented on #101
@tantek. Any response to the above?  Based on the history, by itself (at least as told by Anssi), I would be inclined to leave this in the WG.

[2020-08-27 18:49] Joe-Palmer commented on #100
Thanks for asking @samuelweiler 👍

Basically, the inability to determine the ambient brightness has a negative impact on user experience of our service in some cases when used within a browser. I wrote a detailed description of our use case here: https://github.com/w3c/ambient-light/issues/13#issuecomment-496935850

The only other way to determine the ambient brightness is to read the values from

[2020-10-25 01:12] xfq commented on #105
See also the discussions in TPAC:

* https://www.w3.org/2020/10/22-dap-minutes.html#t04
* https://www.w3.org/2020/10/23-dap-minutes.html#t05

[2020-12-02 07:17] xfq commented on #98
The Director [has approved](https://www.w3.org/2020/11/das-wg-charter.html) the Devices and Sensors Working Group charter, and took into consideration the input from an experiment conducted by the Advisory Board and the TAG and decided that a chartered Working Group was best suited to address these concerns. These concerns will not be ignored but the discussion should be moved into the individual

[2020-12-02 07:17] #98 closed, assigned to nobody

[2020-12-02 07:18] xfq commented on #99
The Director [has approved](https://www.w3.org/2020/11/das-wg-charter.html) the Devices and Sensors Working Group charter, and took into consideration the input from an experiment conducted by the Advisory Board and the TAG and decided that a chartered Working Group was best suited to address these concerns. These concerns will not be ignored but the discussion should be moved into the individual

[2020-12-02 07:18] #99 closed, assigned to nobody

[2020-12-02 07:19] xfq commented on #100
The Director [has approved](https://www.w3.org/2020/11/das-wg-charter.html) the Devices and Sensors Working Group charter, and took into consideration the input from an experiment conducted by the Advisory Board and the TAG and decided that a chartered Working Group was best suited to address these concerns. These concerns will not be ignored but the discussion should be moved into the individual

[2020-12-02 07:19] #100 closed, assigned to nobody

[2020-12-02 07:20] xfq commented on #101
The Director [has approved](https://www.w3.org/2020/11/das-wg-charter.html) the Devices and Sensors Working Group charter, taking into consideration the input from an experiment conducted by the Advisory Board and the TAG and decided that a chartered Working Group was best suited to address these concerns. These concerns will not be ignored but the discussion should be moved into the individual sp

[2020-12-02 07:20] #101 closed, assigned to nobody

[2020-12-02 07:23] xfq commented on #102
The Director [has approved](https://www.w3.org/2020/11/das-wg-charter.html) the Devices and Sensors Working Group charter, taking into consideration the input from an experiment conducted by the Advisory Board and the TAG. A liaison to the CSS working group has been added to the charter and the maturity of this specification has been clarified.

See https://lists.w3.org/Archives/Member/w3c-ac-memb

[2020-12-02 07:23] #102 closed, assigned to nobody

[2020-12-02 07:27] xfq commented on #103
The Director [has approved](https://www.w3.org/2020/11/das-wg-charter.html) the Devices and Sensors Working Group charter, taking into consideration the input from an experiment conducted by the Advisory Board and the TAG and decided that a chartered Working Group was best suited to address the architecture concerns (new approach to existing APIs). These concerns will not be ignored but the discus

[2020-12-02 07:27] #103 closed, assigned to nobody

[2020-12-02 07:28] xfq commented on #104
The Director [has approved](https://www.w3.org/2020/11/das-wg-charter.html) the Devices and Sensors Working Group charter, taking into consideration the input from an experiment conducted by the Advisory Board and the TAG and decided that a chartered Working Group was best suited to address the architecture concerns (new approach to existing APIs). These concerns will not be ignored but the discus

[2020-12-02 07:28] #104 closed, assigned to nobody

[2020-12-02 07:33] xfq commented on #105
The Director [has approved](https://www.w3.org/2020/11/das-wg-charter.html) the Devices and Sensors Working Group charter, taking into consideration the input from an experiment conducted by the Advisory Board and the TAG and decided that a chartered Working Group was best suited to address these concerns. These concerns will not be ignored but the discussion should be moved into the individual sp

[2020-12-02 07:35] xfq commented on #106
The Director [has approved](https://www.w3.org/2020/11/das-wg-charter.html) the Devices and Sensors Working Group charter, taking into consideration the input from an experiment conducted by the Advisory Board and the TAG and decided that a chartered Working Group was best suited to address these concerns. These concerns will not be ignored but the discussion should be moved into the individual sp

[2020-12-02 07:35] #106 closed, assigned to nobody

[2020-12-02 07:35] annevk commented on #103
My questions are not going to be addressed?

[2020-12-02 07:43] xfq commented on #103
I think we can discuss whether a new API is the right approach in https://github.com/w3c/geolocation-sensor/issues

The group will also request TAG review and I'm sure this topic will be discussed there.

[2020-12-02 07:48] annevk commented on #103
It's rather disappointing that concerns are not addressed in public.

[2020-12-02 08:41] anssiko commented on #103
@xfq can you investigate if the Report of the AB/TAG Experiment that addressed these issues could be made public? I believe it would be a helpful resource for the wider community.

[2020-12-07 20:45] plehegar commented on #103
@anssiko noted. Looking into it. Should be able to answer by Friday.

[2020-12-14 13:40] plehegar commented on #103
This is the relevant excerpt from the AC announcement:

The Director, as part of making a decision, took into consideration the
input from an experiment conducted by the Advisory Board and the TAG
(see below).

The formal objection from Mozilla, ultimately overruled by the Director,
was to remove 8 APIs listed in the proposed charter from the
deliverables, based on privacy and architecture concern

[2020-12-15 10:17] anssiko commented on #103
@plehegar, thank you for this public copy. As a feedback, it would be good if these reports would be public by default in the Director-free future. Maybe stored in a central place where they can be found easily.

[2021-02-24 02:45] reillyeon commented on #97
I recently got an update that the Contact Picker API is being implemented in WebKit:

- https://twitter.com/tomayac/status/1362671289945755648
- https://github.com/WebKit/WebKit/tree/main/Source/WebCore/Modules/contact-picker

The group should reconsider adopting this specification from the WICG.

[2021-02-24 07:29] marcoscaceres commented on #97
That's exciting to see! Yeah, the group should pick this up then.

[2021-03-01 19:40] reillyeon commented on #97
Given this agreement what are the next steps? As I understand it adopting this API requires rechartering since it wasn't listed as a potential deliverable like Fold Angle was.

CC @xfq

[2021-03-01 20:00] anssiko commented on #97
Per https://www.w3.org/2020/11/das-wg-charter.html#add-new we prepare an updated Charter that differs only in deliverables.

Also @plehegar should be able to assist.

[2021-03-11 01:02] xfq commented on #97
Are there other browsers that have implemented, are implementing, or plan to implement this spec?

[2021-03-11 01:06] xfq commented on #97
The next step is to go through the rechartering process (add it to the draft charter, ask for horizontal/management/AC review etc.). We can also organize a meeting before that to see if the WG has any ideas or suggestions.

[2021-03-11 03:51] marcoscaceres commented on #97
I poked the Mozilla folks about it to see if they might consider it "worth prototyping".
https://github.com/mozilla/standards-positions/issues/153#issuecomment-796422900

[2021-04-06 07:37] xfq commented on #97
The Devices and Sensors Working Group just discussed Contact Picker API, and agreed to start the process to add Contact Picker API to the DAS WG Charter: https://www.w3.org/2021/04/06-dap-minutes.html#t01

[2021-04-17 02:01] xfq opened #110 "Idle Detection API"
Making a note here that https://wicg.github.io/idle-detection/ might advance to DAS WG in the future.

See also https://github.com/WICG/idle-detection/issues/40

[2021-04-17 09:29] xfq commented on #110
Related info:

* [Chrome Platform Status](https://www.chromestatus.com/feature/4590256452009984)
* [Chromium Intent to Ship](https://groups.google.com/a/chromium.org/g/blink-dev/c/ZmHHfrR_jak?pli=1)
* [Mozilla position](https://github.com/mozilla/standards-positions/issues/453)
* [WebKit position](https://lists.webkit.org/pipermail/webkit-dev/2020-October/031558.html)

[2021-04-26 15:49] oyiptong opened #111 "Compute Pressure API -> System Pressure"
Making a note here for https://github.com/oyiptong/compute-pressure to be part of the DAS WG.

[2021-04-26 15:52] anssiko commented on #111
Thanks @oyiptong!

@xfq please take this into considerations for the next charter revision.

[2021-04-27 08:52] xfq commented on #111
Link to the TAG review: https://github.com/w3ctag/design-reviews/issues/621

[2021-04-27 08:57] xfq commented on #111
Because this is only a preliminary proposal, can we consider whether to transfer it to DAS WG after asking the opinions of other browser vendors and having a draft spec?

[2021-04-27 09:39] anssiko commented on #111
That is definitely a good suggestion, but I feel it could also happen in parallel. Often it takes time for browser vendors to form an informed opinion.

I feel this API should be considered a Tentative Deliverable and its adoption as a Normative Specification should depend on its incubation progress that includes signals from implementers (plural).

One way to go about this would be to clarify tho

[2021-04-28 08:52] xfq commented on #111
OK. Added in https://github.com/w3c/dap-charter/commit/482168e19a40173648ea0fed5e70fc9d8138529c

[2021-05-04 17:17] anssiko commented on #111
FTR: draft spec: https://wicg.github.io/compute-pressure/

[2021-05-21 14:41] samuelweiler opened #113 "Adopt separate sec/priv considerations sections (from template)"
For the *next* revision - not necessary in the 2021 update - please incorporate the new security/privacy text from the charter template.

[2021-05-21 14:44] samuelweiler opened #114 "consolidate testing and sec/priv lines in Success Criteria"
For the _next_ revision - not necessary in the 2021 update - please reorder the Success Criteria section to put like-with-like.

[2021-07-07 19:54] brianhumphreys commented on #100
Not sure where I should be writing this but please redirect me if this is not the place.

I work for a company that is very concerned with detecting fraudulent images.  Part of this fraud detection requires the use of exif metadata like the camera settings.  We use WebRTC so we can include overlays and use character detection.  It would be extremely valuable to us and our users to have this featur

[2021-07-09 12:13] rakuco commented on #100
@brianhumphreys  I think the best place to provide feedback and use cases would be w3c/ambient-light#64.

[2021-08-10 03:52] xfq commented on #97
Per discussions in https://github.com/w3c/strategy/issues/267 , we will make the Contacts Picker API a joint deliverable between WebApps and DAS.

[2021-08-13 11:26] tomayac commented on #105
I have rebooted the Network Information API based on long-going discussions with @yoavweiss (who is currently still OoO) and would appreciate you all's feedback:

- Motivational doc: https://docs.google.com/document/d/1RDA23zSNdDuIcxZTX9Xo3zlD2fxf8dZg9-e0YaJQv0g/edit?usp=sharing
- Explainer: https://github.com/tomayac/netinfo/blob/relaunch/README.md
- Spec draft: https://ghcdn.rawgit.org/tomayac/n

[2021-08-16 11:53] anssiko commented on #105
Huge thanks to @tomayac for addressing the [resolution from TPAC 2020](https://www.w3.org/2020/10/22-dap-minutes.html#r01). This substantial contribution helps inch this spec closer to WG adoption. DAS WG keeps close eye on this spec and will offer it a home depending on its ongoing progress and implementation experience.

[2021-08-16 11:59] #105 closed, assigned to nobody

[2021-08-16 12:05] tomayac commented on #105
Thanks, Anssi! Good to have home and shelter :-) ! Now hoping for a lot of early feedback so I can get the proposal in a good shape so I can file for TAG review.

[2021-08-18 00:52] marcoscaceres commented on #105
I'm feeling like we should maybe have a brainstorming sessions around different ways of addressing the netinfo use cases. The NetInfo API itself is quite polarizing, so if we could free ourselves from it entirely, while still addressing the use cases, that might be a better approach.

[2022-08-24 13:10] anssiko commented on #111
We now have substantial implementation experience for the first version of the Compute Pressure API, and further work is under way. We have also received new feedback from users and web developers with suggestions for new use cases. These use cases have been documented in the Compute Pressure API GH repository and labeled with "[v2](https://github.com/WICG/compute-pressure/issues?q=is%3Aissue+is%3

[2022-11-22 10:26] anssiko opened #123 "Joint deliverables with WebApps WG"
There is a proposal to broaden the scope of joint deliverables between the DAS WG and WebApps WG. For the list of proposed joint deliverables, see: https://github.com/w3c/webappswg/issues/90

Rationale: This would allow members who are not participants of the DAS WG but are participants of the WebApps WG to contribute substantively to the DAS WG specifications identified as joint deliverables. For

[2022-11-30 22:49] reillyeon commented on #123
I have no objection to this as it enables progress.

Separately I would like to work on a solution which would enable any of the existing WebApps WG members interested in contributing to specifications under the DAS WG charter to join, as I feel that the WebApps WG has the same problem as the DAS WG with a rather broad charter and joint deliverables only make that worse.